.checked {
  text-decoration: line-through;
}

div.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: space-around;
  border-bottom: solid 1px lightgray;
  margin-bottom: 2rem;
}

.icone {
  color: blueviolet;
  font-size: 2.5rem;
  margin-right: 1rem;
}

h1 {
  color: blueviolet;
}
.container {
  margin: auto;
  width: 50%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  border: solid 1px lightgray;
  justify-items: center;
}

div.liste {
  align-items: center;
  margin: 1%;
  flex-flow: nowrap;
}

.liste {
  display: flex;
  width: 80%;
  height: auto;
  align-items: center;
}

form {
  margin-top: 20%;

  display: flex;
  justify-content: center;
}

button {
  display: flex;
  align-items: center;
  background-color: blueviolet;
  color: white;
}
.trash {
  font-size: 0.9rem;
}
span {
  margin-right: 1.5rem;
}
input {
  margin-right: 0.8rem;
}
footer {
  display: flex;
  margin: auto;
}
p {
  padding-top: 1rem;
  margin: auto;
}
a {
  color: blueviolet;
  text-decoration: none;
}
